<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stream</title>
  </head>
  <body>
    <h1>Live From Camera</h1>
    <img src="{{ url_for('index') }}" width="100%" />
  </body>
</html>
